<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Peixe</title>
</head>
<body>
    <h1>Consulta de Peixe</h1>
    <form action="/get_fish_info" method="post">
        <label for="fish_name">Nome do Peixe:</label><br>
        <input type="text" id="fish_name" name="fish_name"><br><br>
        <input type="submit" value="Consultar">
    </form>

    {% if content %}
        <h2>Informações sobre o peixe:</h2>
        {% for line in content %}
            <p>{{ line }}</p>
        {% endfor %}
    {% endif %}

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <h2>Controle do Servo</h2>
    <form action="/move_servo" method="post">
        <input type="submit" value="Mover Servo">
    </form>
</body>
</html>
