<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <title>Login</title>
    <link href="static\css\SFlg.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="login-container">
        <img src="static\img\mflogo.jpeg" alt="Avatar" class="login-avatar">
        <h2>Login</h2>
        {% if phone_exists == False %}
        <p>Número de telefone não encontrado. Por favor, registre-se.</p>
        {% endif %}
        <form class="login-form" action="/login" method="post">
            <label for="phone">Número de Telefone</label>
            <input type="tel" id="phone" name="phone" value="{{ request.form.phone if request.method == 'POST' else '' }}">
            <label for="token">Token</label>
            <input type="text" id="token" name="token" required pattern="[0-9]{6}" placeholder="XXXXXX">
            <div class="registro">
                <label for="register-link" class="register-link">Não tem uma conta?<a href="#">Registre-se aqui</a></label>
            </div>
            <div class="button-container">
                <button type="submit" value="Login" name="login" class="login-btn button-right">Login</button>
                <button type="submit" name="send_token" value="Enviar Token" class="token-btn button-left">Enviar Token</button>
            </div>
            
        </form>
    </div>
</body>

</html>
